.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 150px;
}

.imagesWrapper {
  display: flex;
  gap: 40px;
}

.textInputsWrapper {
  display: flex;
  gap: 20px;
}
