.container {
  display: grid;
  margin-top: 5rem;
  margin-inline: 5%;
}

.title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: rgba(26, 26, 26, 1);
}

.list {
  list-style: none;
}

.listItem {
  list-style: none;
}
