.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.4%;
  list-style: none;
  padding-inline: 5.7%;
  text-align: center;
  padding-block: 70px;
}

.container > li {
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding-block: 64px 81px;
  max-width: 90vw;
}

@media screen and (max-width: 959px) {
  .container {
    grid-template-columns: auto;
    justify-content: center;
  }
}
